# IntelliJ
# User-specific stuff
.idea/

auto-import.
*.iml
*.ipr

# SBT
lib_managed
target
project/boot
project/build/target
project/plugins/lib_managed
project/plugins/src_managed
project/plugins/target
project/plugins/project/build.properties

# Other Build System
.bloop
.bsp
.metals
project/metals.sbt